* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

button {
  cursor: pointer;
}

/* hedear part ..................................*/
.header_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: 810px;
  background-image: url("assets/1.jpg");
  background-position: center;
  background-size: cover;
}

.header_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 45, 69, 0.6);
  z-index: 0;
}

.title {
  position: relative;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  top: 9rem;
  width: 1082px;
  height: 131px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2.5px;
  position: relative;
  z-index: 1;
}

.div_title {
  display: flex;
  justify-content: center;
}

.table {
  position: relative;
  top: 110px;
  width: 1082px;
  height: 105px;
  /* UI Properties */
  background-color: #ffffff;
  box-shadow: 0px 20px 30px #25345033;
  opacity: 1;
  z-index: 2;
}

.title_table_block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav {
  margin-top: 2rem;
  width: 100%;
  height: 57px;
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  text-decoration: none;
  list-style-type: none;
}

li {
  cursor: pointer;
}

.log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 3rem;
  background-color: black;
  border-radius: 2rem;
  padding: 0rem 1rem;
  border: 0.15rem solid white;
}

.blocktablep {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #022d45;
  font-size: 14px;
  position: relative;
  top: 142px;
  width: 174px;
  height: 40px;
  /* UI Properties */
  background-color: #ffffff;
  box-shadow: 0px 20px 30px #25345033;
  opacity: 1;
  z-index: 2;
  border: none;
}

.firstblocktablep {
  background-color: #ea516f;
  color: white;
}

.containerBLOCKTABLE {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0;
}

.EN {
  /* padding: 20px; */
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  line-height: 57px;
  width: 57px;
  height: 57px;
  color: white;
  background: rgba(
    255,
    255,
    255,
    0.3
  ); /* Utilisation de RGBA pour spécifier une couleur de fond semi-transparente */
  /* j'aurais utilisé un padding et pour centrer avec les flex*/
}

.LOGIN {
  cursor: pointer;
  /* padding: 20px; */
  font-size: 15px;
  text-align: center;
  line-height: 57px;
  width: 182px;
  height: 57px;
  color: white;
  background-color: #ea516f; /* Utilisation de RGBA pour spécifier une couleur de fond semi-transparente */
  /* j'aurais utilisé un padding et pour centrer avec les flex*/
}

/* BLOCK PINK .....................................*/

.PINK {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ea516f;
  width: 1920px;
  height: 270px;
  gap: 1rem;
}
.text1 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -2.5px;
  line-height: 60px;
}
.text2 {
  font-size: 20px;
  font-weight: 300;
  width: 1638px;
  text-align: center;
  letter-spacing: -1px;
}

/* BLOCKSEA .......................................*/

.blocksea {
  position: relative;
  width: 1920px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.blocksea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px; /* Largeur de la grille parente */
  height: 552px; /* Hauteur de la grille parente */
  background-color: rgba(2, 45, 69, 0.5);
  z-index: 2;
}

.img-container2:nth-child(even) {
  transform: skew(-10deg);
}
.img-container:nth-child(odd) {
  transform: skew(-10deg);
}

.imgSea {
  width: 720px;
  height: 552px;
  object-fit: cover;
  z-index: -1;
  position: relative;
}
.imgSea2 {
  width: 540px;
  height: 552px;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

.textblockseaCtn {
  width: 1920px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  color: rgba(255, 255, 255, 1);
  text-align: center;
  z-index: 20;
  text-align: left;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 26px;
}

.textblocksea {
  margin-bottom: 70px;
  margin-right: 85px;
}

.inversimg {
  transform: matrix(-1, 0, 0, -1, 0, 0);
}

.img-container,
.img-container2 {
  position: relative;
}

.whiteblock {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 4612px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}

.text1Ctn {
  display: flex;
  justify-content: center;
}

.text1WB {
  /* Layout Properties */
  margin-top: 83px;
  top: 1696px;
  left: 141px;
  width: 1638px;
  height: 58px;
  /* UI Properties */
  text-align: center;
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: -1px;
  color: #022d45;
  opacity: 1;
}

.numbers {
  width: 1920px;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 95px;
  color: #ea516f;
  margin-top: 54px;
}

.numblock {
  display: flex;
  flex-direction: column;
}

.num {
  font-size: 80px;
}

.BoatBlock {
  /* Layout Properties */
  position: relative;
  margin-top: 64px;
  width: 1920px;
  height: 501px;
  display: grid;
  grid-template-columns: repeat(1, 2fr 1fr);
  overflow: hidden;
}
.BoatBlock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px; /* Largeur de la grille parente */
  height: 501px; /* Hauteur de la grille parente */
  background-color: rgba(2, 45, 69, 0.4);
  z-index: 2;
}

.boat1 {
  width: 1280px;
  height: 98%;
  overflow: hidden;
  margin-top: -50px;
}
.boat2 {
  width: 640px;
  height: 501px;
  object-fit: cover;
}

.textboat {
  width: 899px;
  height: 279px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  color: rgba(255, 255, 255, 1);
  text-align: center;
  z-index: 20;
  text-align: left;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 26px;
  margin-left: 111px;
  margin-top: 143px;
}

.boatTitle {
  text-align: left;
  font-size: 15px;
  letter-spacing: -0.75px;
  line-height: 23px;
  color: #ea516f;
}

.boatH {
  text-align: left;
  font-size: 50px;
  letter-spacing: -2.5px;
  line-height: 60px;
}
.boatText {
  text-align: left;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 30px;
}

.boatButton {
  width: 248px;
  height: 57px;
  background-color: #ea516f;
  color: white;
  border: none;
  text-align: center;
}

/* .........SLIDER ......................*/

.blockGrey {
  width: 1920px;
  height: 1202px;
  background-color: #f5f5fa;
  padding-top: 64px;
}

.BigContenairCAR {
  width: 1920px;
  display: flex;
}
.ActiveBtnTxt {
  width: 529px;
  height: 253px;
  margin-top: 194px;
  margin-left: 141px;
  margin-right: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartxt {
  text-align: left;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -2.5px;
  line-height: 60px;
  color: #022d45;
}

.carousel-container {
  width: 1265px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  gap: 30px;
}
.slide {
  height: 511px;
  position: relative;
}
.slide::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 943px; /* Largeur de la grille parente */
  height: 280px; /* Hauteur de la grille parente */
  background-image: linear-gradient(
    to top,
    rgba(2, 45, 69, 0.5) 50%,
    rgba(2, 45, 69, 0) 100%
  );
  z-index: 2;
}

.slideimg {
  width: 943px;
  height: 511px;
  object-fit: cover;
}

.contenairbuttonslide {
  display: flex;
  gap: 50px;
}

.buttonslide {
  width: 65px;
  height: 65px;
  background-color: white;
  border: none;
}

.inslideTxtCtn {
  width: 388px;
  height: 111px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  color: white;
  z-index: 50;
}

.insideTitle {
  font-size: 30px;
  letter-spacing: -1.5px;
  line-height: 60px;
  font-weight: 500;
}

.insideYear {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 30px;
  font-weight: 500;
}
.insidePrice {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 30px;
  font-weight: 500;
}

.price-highlight {
  color: #ea516f;
  font-weight: 600;
}
/* .inslideTxt {
  color: white;
  z-index: 50;
} */

.BottomGrey {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1920px;
  margin-top: 134px;
}
.BottomGreyVignette {
  width: 526px;
  height: 429px;
  position: relative;
}

.BottomGreyVignette::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 526px; /* Largeur de la grille parente */
  height: 200px; /* Hauteur de la grille parente */
  background-image: linear-gradient(
    to top,
    rgba(2, 45, 69, 0.5) 50%,
    rgba(2, 45, 69, 0) 100%
  );
  z-index: 2;
}
.BottomImg {
  width: 526px;
  height: 429px;
  object-fit: cover;
}

.BottomTxtCtn {
  /* width: 388px;
  height: 111px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  color: white;
  z-index: 50;
}

.BottomBtnTxt {
  width: 526px;
  height: 429px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.BottomBtnTxt p {
  margin-left: auto; /* Ajout pour pousser le texte et le bouton vers la gauche */
  text-align: left; /* Rétablir l'alignement du texte à gauche */
}
.BottomBtnTxt button {
  margin-left: auto;
}

.Bottometxt {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: 26px;
}

/* .buttonBottom{
  width: 248px;
  height: 57px;
  text-align: center;
  color: white;

} */
/* .BottomBtnLittleCtn{
  width: 427px;
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
