* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.header_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  height: 810px;
  background-image: url("1.jpg");
  background-position: center;
  background-size: cover;
}

.header_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 45, 69, 0.6);
  z-index: 0;
}

.title {
  position: relative;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  top: 9rem;
  width: 1082px;
  height: 131px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2.5px;
  position: relative;
  z-index: 1;
}

.div_title {
  display: flex;
  justify-content: center;
}

.table {
  position: relative;
  top: 110px;
  width: 1082px;
  height: 105px;
  /* UI Properties */
  background-color: #ffffff;
  box-shadow: 0px 20px 30px #25345033;
  opacity: 1;
  z-index: 2;
}

.title_table_block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.PINK {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ea516f;
  width: 1920px;
  height: 270px;
  gap: 1rem;
}
.text1 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -2.5px;
}
.text2 {
  font-size: 20px;
  font-weight: 300;
  width: 1638px;
  text-align: center;
  letter-spacing: -1px;
}

nav {
  margin-top: 2rem;
  width: 100%;
  height: 57px;
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  text-decoration: none;
  list-style-type: none;
}

li {
  cursor: pointer;
}

.log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 3rem;
  background-color: black;
  border-radius: 2rem;
  padding: 0rem 1rem;
  border: 0.15rem solid white;
}

.blocktablep {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #022d45;
  font-size: 14px;
  position: relative;
  top: 142px;
  width: 174px;
  height: 40px;
  /* UI Properties */
  background-color: #ffffff;
  box-shadow: 0px 20px 30px #25345033;
  opacity: 1;
  z-index: 2;
}

.firstblocktablep {
  background-color: #ea516f;
  color: white;
}

.containerBLOCKTABLE {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0;
}

.EN {
  /* padding: 20px; */
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  line-height: 57px;
  width: 57px;
  height: 57px;
  color: white;
  background: rgba(
    255,
    255,
    255,
    0.3
  ); /* Utilisation de RGBA pour spécifier une couleur de fond semi-transparente */
  /* j'aurais utilisé un padding et pour centrer avec les flex*/
}

.LOGIN {
  cursor: pointer;
  /* padding: 20px; */
  font-size: 15px;
  text-align: center;
  line-height: 57px;
  width: 182px;
  height: 57px;
  color: white;
  background-color: #ea516f; /* Utilisation de RGBA pour spécifier une couleur de fond semi-transparente */
  /* j'aurais utilisé un padding et pour centrer avec les flex*/
}

.blocksea {
  position: relative;
  max-width: 1920px;
  display: flex;
  z-index: 1;
}

.blocksea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 100%;
  background-color: rgba(2, 45, 69, 0.6);
  z-index: 2;
}

.imgSea {
  width: 640px;
}
